html, body {
    height: 100%;
}
body {
    /* 부모만 flex 할 수 있다.  */
    /* display: flex; */
    /* justify-content: center; */
    /* justify-content: start-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* align-items: flex-end; */
    /* justify-content 가 기본값이다.  */

    height: 1000vh;
}

div {
    width: 200px;
    height: 200px;
    background-color: cadetblue;

    /* display: flex;
    justify-content: center;
    align-items:center; */

    /* position: static; */
}

#second {
    background-color: blueviolet;
    /* position: fixed; */
}

